*{margin:0px;}
* {box-sizing:border-box;}
.wrapper
	{
	width:100%;
	height:100%;
	
	}
.header
	{
	width:100%;
	height:100%;
	background:url('../image/pic1-1.jpg') fixed;
	background-size:100% 100%;
	background-repeat:no-repeat;
	}

	/*Menu Start*/
.header .topheader
	{
	width:100%;
	height:20%;
	position:fixed;
	}
.header .topheader .thleft
	{
	height:100px;
	width:110px;
	float:left;
	margin-left:120px;
	margin-top:50px;
	}
.header .topheader .thright
	{
	height:70%;
	width:50%;
	float:right;
	margin-top:50px;
	margin-right:50px;
	}
.header .topheader .thright nav ul li 
	{
	display:inline-table;
	position:relative;
	list-style-type:none;
	padding:5px; 
	}
.header .topheader .thright nav ul li a
	{
	display:block;
	text-decoration:none;
	padding:30px;
	color:white;
	transition:1s;
	font-size:20px;
	font-family: 'Zen Dots', cursive;
	font-weight: bold;
	}
.slide
	{
	width:100%;
	height:80%;
	background:white;
	}
.slide .top h6
	{
	width:100%;
	height:60px;
	text-align:center;
	font-family: 'Zen Dots', cursive;
	font-size:50px;
	}
.slide .left 
	{
	width:30%;
	height:70%;
	float:left;
	background:url("../image/laptop.jpg");
	margin-left:10%; 
	background-size:100% 100%;
	margin-top:5%; 
	}
.slide .right
	{
	width:50%;
	height:70%;
	float:left;
	margin-left:5%; 
	margin-top:5%;
	font-size:20px; 
	font-family: 'Luckiest Guy', cursive;
	}
.photo
	{
	height:70%;
	width:100%;
	background:purple; 
	}
.photo h6
	{
	font-size:250%;
	text-align:center;
	padding-top:30px; 
	}
.photo .left
	{
	width:30%;
	height:70%;
	float:left;
	background:url("../image/laptop.jpg");
	margin-left:10%; 
	background-size:100% 100%;
	margin-top:2%; 
	}
.photo .right p
	{
	width:50%;
	height:70%;
	float:left;
	margin-left:5%; 
	margin-top:5%;
	font-size:20px; 
	font-family: 'Luckiest Guy', cursive;
	}
.freespace
	{
	width:100%;
	height:5%;
	}
.footer
	{
	width:100%;
	height:50%;
	background: rgb(5,51,76);
background: -webkit-linear-gradient(207deg, rgba(5,51,76,1) 38%, rgba(11,11,36,0) 38%, rgba(13,175,176,0) 38%, rgba(2,0,36,1) 38%, rgba(0,212,255,1) 100%);
background: -o-linear-gradient(207deg, rgba(5,51,76,1) 38%, rgba(11,11,36,0) 38%, rgba(13,175,176,0) 38%, rgba(2,0,36,1) 38%, rgba(0,212,255,1) 100%);
background: linear-gradient(297deg, rgba(5,51,76,1) 38%, rgba(11,11,36,0) 38%, rgba(13,175,176,0) 38%, rgba(2,0,36,1) 38%, rgba(0,212,255,1) 100%);
	
	}
.footer .content
	{
	width:100%;
	height:50%;
	}
.footer .content .col1
	{
	margin-top:50px;
	margin-left:120px;
	float:left;
	width:20%;
	height:100%;
	background:red; 
	}
.footer .content .col2
	{
	margin-top:50px;
	margin-left:180px;
	float:left;
	width:20%;
	height:100%;
	background:blue; 
	}
footer .content .col3
	{
	margin-top:50px;
	
	float:right;
	width:10%;
	height:100%;
	background:blue; 
	}
footer .content .col4
	{
	margin-top:50px;
	margin-right:280px;
	float:right;
	width:20%;
	height:100%;
	background:black; 
	}